<%= form_for([:admin, @team_member]) do |f| %>

  <%= f.error_messages %>

  <%= field_set_tag 'Basic' do -%>
    
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    
    <div class="field">
      <%= f.label :image %><br />
      <%= f.image_field :image %>
    </div>
    
    <div class="field">
      <%= f.label :role_id %><br />
      <%= f.select :role_id, Role.all.map{|x| [x.name, x.id]} %>
    </div>
    
  <% end -%>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
