<div class="row">
  <div class="twelve columns">
    <h1>Latest News</h1>
  </div>
  <hr />
</div>
  
<div class="row">
  <% @articles.each do |article| %>
  <% unless article.image.blank? %> 
  <div class="three columns">
    <%= image_tag article.image.index, :alt => article.title %>
  </div>
  <% end %>
  
  <div class="nine columns">
    <h2><%= link_to article do %><%= article.title %><% end %></h2>
    <p><%= raw article.summary %></p>
    <%= link_to article do %>Continue reading...<br /><br /><% end %>
  </div>
  <hr />
<% end %>

</div>
