<%= form_for([:admin, @client, @client_image]) do |f| %>

  <%= f.error_messages %>

  <%= field_set_tag 'Basic' do -%>
    <%= f.hidden_field :client_id %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    
    <div class="field">
      <%= f.label :image %><br />
      <%= f.image_field :image %>
    </div>
    
    <div class="field">
      <%= f.label :display %><br />
      <%= f.check_box :display %>
    </div>
    
  <% end -%>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
